.skills{
    margin-top: 30px;
    width: 55rem;
    }
    .skills h2{
        font-size: 55px;
    text-align: center;
    color: white;
    }
    .skill-cont{
        display: flex;
        gap: 45px;
        margin: 60px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .box{
        width: 12rem;
        height: 12rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      justify-content: center;
      box-shadow: 3px 2px 21px white;
    }
    .box img{
        width: 130px;
    }